.links {
	display: flex;
	justify-content: right;
	align-items: center;
}

.link {
	& a {
		text-decoration: none;
	}
	& a:link,
	& a:visited,
	& a:hover,
	& a:active {
		color: unset;
	}
}

.link {
	position: relative;
	list-style: none;
	font-size: 1.15rem;
	padding: 10px 0px;
	color: var(--color-text-a30);

	display: flex;
	justify-content: center;

	& a {
		display: inline-block;
		text-align: center;
		padding: 0.5em 1em;
	}
	&::after {
		content: " ";
		opacity: 0;
		position: absolute;
		width: 100%;
		bottom: 0px;
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;
		border-bottom: 5px solid var(--color-accent);
		transform: translateY(10px);
		transition:
			opacity 0.8s,
			transform 0.5s;
	}

	&:not(.active):hover {
		color: var(--color-text-a70);
	}

	&.active {
		color: var(--color-text);
	}

	&.active::after {
		opacity: 1;
		transform: translateY(0px);
	}
}
