.root {
	position: relative;
	grid-template-rows: 3fr auto auto 4fr auto 1.5fr;
	display: grid;
	justify-items: center;
}

.title {
	grid-row: 2;
	font-size: 4.5rem;
}

.subtitle {
	grid-row: 3;
	font-size: 1.1rem;
	margin-top: 16px;
}

@keyframes bobbing {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(10px);
	}
}
.scroll-indicator {
	grid-row: 5;
	color: var(--text70-color);
	display: flex;
	flex-direction: column;
	align-items: center;

	animation: bobbing;
	animation-timing-function: ease-out;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}
