.container {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
}

.project-container {
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	display: flex;
	align-content: center;
	padding: 30px;
	column-gap: 50px;

	& > * {
		flex-shrink: 0;
	}

	/* Provide empty space within scrolling area allowing first and last few items to be centered */
	&::before,
	&::after {
		display: block;
		content: " ";
		width: 100%;
		height: 1px;
		flex-shrink: 0;
	}

	& .project {
		opacity: 0.7;
		transition: opacity 0.4s;
		transition: transform 0.4s;
		cursor: pointer;

		&.active {
			cursor: unset;
			transform: scale(1.1);
			opacity: 1;
		}
	}
}

.btn {
	border: none;
	background-color: transparent;
	color: var(--color-text);
	cursor: pointer;
	border-radius: 5px;
	font-size: 6.5rem;

	&.left {
		grid-column: 2;
	}

	&.right {
		grid-column: 4;
	}
}

.btn-container {
	position: absolute;
	width: 100%;
	display: grid;
	grid-template-columns: minmax(0px, 1fr) auto minmax(300px, 5fr) auto minmax(
			0px,
			1fr
		);
}
